---
import Logo from './logo/logo.astro'
import Menu from './menu/menu.astro'
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container py-4 lg:py-3">
    <section class="grid grid-cols-12 items-center gap-6">
      <div class="col-span-12">
        <di class="flex flex-row items-center justify-between">
          <Logo />
          <Menu />
        </di>
      </div>
    </section>
  </div>
</header>
