---
import Logo from './logo/logo.astro'
import Menu from './menu/menu.astro'
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container py-4 lg:py-3">
    <section class="grid grid-cols-12 items-center gap-6">
      <div class="col-span-12">
        <div class="relative flex flex-row items-center gap-x-2 lg:gap-x-4">
          <div
            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform"
          >
            <Logo />
          </div>
          <Menu />
          <div
            class="flex w-full flex-row items-center justify-end gap-x-2 lg:gap-x-4"
          >
            <div class="mr-auto flex items-center lg:mr-0">
              <!-- <Search /> -->
            </div>
            <!-- <Account /> -->
            <!-- <Cart /> -->
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
