---
import MenuList from './menu-list.astro'
---

<div class="flex items-center">
  <div class="flex lg:hidden">
    <!-- <MenuSheet client:visible /> -->
  </div>
  <div class="hidden lg:block">
    <MenuList />
  </div>
</div>
