---
import MenuItem from './menu-item.astro'
---

<nav
  id="navbar-sticky"
  class="hidden w-full items-center justify-between md:flex md:w-auto"
>
  <ul
    class="mt-4 flex flex-col rounded-lg border bg-white p-4 md:mt-0 md:flex-row md:border-0 md:p-0"
  >
    <li>
      <MenuItem href="/#home">Inicio</MenuItem>
    </li>
    <li>
      <MenuItem href="/#products">Productos</MenuItem>
    </li>
    <li>
      <MenuItem href="/#us">Nosotros</MenuItem>
    </li>
    <li>
      <MenuItem href="/#contact">Contacto</MenuItem>
    </li>
  </ul>
</nav>
