---
import MenuItem from './menu-item.astro'
---

<nav class:list={['flex', 'flex-row']}>
  <MenuItem href="/">Inicio</MenuItem>
  <MenuItem href="/collection">Colecciones</MenuItem>
  <MenuItem href="/contact">Contacto</MenuItem>
</nav>
