---
import { Image } from 'astro:assets'
import Separator from '@/components/ui/separator.astro'
import RootLayout from './../layouts/root/layout.astro'
import compostImage from '@/assets/compost.png'
---

<RootLayout>
  <section class="container">
    <div class="grid grid-cols-12 items-center gap-6">
      <div
        class="col-span-12 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4"
      >
        <div class="my-12 md:my-14 lg:my-16 xl:my-20">
          <div class="flex flex-col justify-center gap-y-6">
            <h1
              class="text-center text-4xl font-black tracking-tight md:text-5xl"
            >
              Abono orgánico de alta calidad para una agricultura sostenible
            </h1>
            <p
              class="text-center text-base tracking-tight text-muted-foreground md:text-lg"
            >
              En Qultiva, ofrecemos abonos orgánicos diseñados para proporcionar
              nutrientes esenciales de manera sostenible. Obtén cultivos más
              fuertes y saludables mientras cuidas del medio ambiente con
              nuestros productos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <Separator />
  </div>
  <!-- <section class="container my-12"> -->
  <!--   <div class="grid grid-cols-12 items-center gap-6"> -->
  <!--     <div class="col-span-12 md:col-span-6"> -->
  <!--       <div class="flex flex-col gap-y-6"> -->
  <!--         <h2 class="text-3xl font-black tracking-tight md:text-4xl"> -->
  <!--           Compost -->
  <!--         </h2> -->
  <!--         <p class="text-base tracking-tight text-muted-foreground md:text-lg"> -->
  <!--           El compost de Qultiva es un abono orgánico rico en nutrientes, -->
  <!--           producido a partir de la descomposición de materia orgánica. Es -->
  <!--           ideal para mejorar la estructura del suelo y aumentar su fertilidad. -->
  <!--           Nuestro compost no solo proporciona nutrientes esenciales, sino que -->
  <!--           también ayuda a retener la humedad y promueve la actividad -->
  <!--           microbiana en el suelo. -->
  <!--         </p> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <div class="col-span-12 md:col-span-6"> -->
  <!--       <div class="flex items-center justify-center"> -->
  <!--         <Image src={compostImage} alt="Compost" width="500" height="500" /> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </section> -->
  <section class="container my-12">
    <div class="grid grid-cols-12 items-center gap-6">
      <!-- <div class="col-span-12"> -->
      <!--   <h2 class="text-center text-5xl font-black tracking-tight"> -->
      <!--     Productos -->
      <!--   </h2> -->
      <!-- </div> -->
      <div class="col-span-12 md:col-span-4">
        <div class="space-y-2 rounded-3xl bg-indigo-200 p-6">
          <h3 class="text-2xl font-black tracking-tight md:text-3xl">
            Compost
          </h3>
          <p class="text-base tracking-tight text-muted-foreground md:text-lg">
            El guano de vaca es un abono orgánico rico en nutrientes, producido
            a partir de la descomposición de estiércol de vaca.
          </p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4">
        <div class="space-y-2 rounded-3xl bg-emerald-200 p-6">
          <h3 class="text-2xl font-black tracking-tight md:text-3xl">
            Guano de Vaca
          </h3>
          <p class="text-base tracking-tight text-muted-foreground md:text-lg">
            El guano de vaca es un abono orgánico rico en nutrientes, producido
            a partir de la descomposición de estiércol de vaca.
          </p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4">
        <div class="space-y-2 rounded-3xl bg-lime-200 p-6">
          <h3 class="text-2xl font-black tracking-tight md:text-3xl">
            Guano de Pollo
          </h3>
          <p class="text-base tracking-tight text-muted-foreground md:text-lg">
            El guano de vaca es un abono orgánico rico en nutrientes, producido
            a partir de la descomposición de estiércol de vaca.
          </p>
        </div>
      </div>
    </div>
  </section>
</RootLayout>
