---
interface Props {
  orientation?: 'horizontal' | 'vertical'
  decorative?: boolean
  class?: string
}

const {
  orientation = 'horizontal',
  decorative = false,
  class: className,
} = Astro.props
---

<div
  class:list={[
    'shrink-0 bg-border',
    orientation === 'horizontal' ? 'h-[1px] w-full' : 'h-full w-[1px]',
    className,
  ]}
  data-orientation={orientation}
  role={decorative ? 'none' : 'separator'}
>
</div>
